html {
    height: 100%;
    width: 100%;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

/* anchor global css */
a {
    color: #FFFFFF;
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
}

/* hovered */
a:hover {

}

/* when clicked */
a:active {

}
/* ----------------- */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    height: 100%;
    width: 100%;
}

/* sidebar */
.nav-sidebar {
    grid-row: 1 / -1;
    background-color: #2196F3;
    color: #FFFFFF;
    display: grid;
    grid-template-rows: 1fr 2fr 4fr;
    justify-content: center;
}

/* --------------------- */

/* main header */
.main-header {
    grid-column: 2 / -1;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 70px 1fr;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    width: 32rem;
    height: 1.6rem;
    background-color: #E3E5E8;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.action-items {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

.action-items button {
    width: 6rem;
    height: 2.3rem;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #2196F3;
    font-size: 1rem;
}

/* --------------------- */

.main {
    grid-column: 2 / -1;
    background-color: #E3E5E8;
}
