html {
    height: 100%;
    width: 100%;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

/* anchor global css */
a {
    color: #FFFFFF;
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
}

/* hovered */
a:hover {

}

/* when clicked */
a:active {

}
/* ----------------- */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    height: 100%;
    width: 100%;
}

/* sidebar */
.nav-sidebar {
    grid-row: 1 / -1;
    background-color: #1992d4;
    color: #FFFFFF;
    display: grid;
    grid-template-rows: 1fr 2fr 4fr;
    justify-content: center;
}

.nav-sidebar img {
    width: 1.5rem;
    height: 1.5rem;
    filter: brightness(0) invert(1);
}

.nav-sidebar a {
    font-weight: 500;
}

.nav-sidebar a:hover {
    color: #E0E0E0;
}

.nav-sidebar a:active {
    color: #A9A9A9;
}

.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    height: 5rem;
    padding-right: 2rem;
}

.nav-header img {
    width: 3rem;
    height: 3rem;
}

.nav-sidebar ul {
    display: grid;
    align-items: center;
    column-gap: 0.4rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 4fr;
}

.nav-bottom {
    padding-top: 2rem;
}
/* --------------------- */

/* main header */
.main-header {
    grid-column: 2 / -1;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 70px 1fr;
    z-index: 10;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.main-header button img{
    width: 100%;
    height: auto;
}

.main-header button {
    width: 1.8rem;
    height: 1.8rem;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

/* main header search bar */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    width: 32rem;
    height: 1.6rem;
    background-color: #e2e8f0;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.search-bar button {
    display: flex;
    align-items: center;
}
/* -------------------- */

/* main header profile */
.profile {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3rem;
}

.profile-img {
    width: 3rem;
    height: 3rem;
    border-radius: 32px;
}

/* -------------------- */

/* main header welcome */

.welcome {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.welcome-img {
    width: 5rem;
    height: 5rem;
    border-radius: 40px;
}

.welcome p {
    font-size: 1rem;
    margin-bottom: 8px;
}

.welcome h2 {
    margin-top: 8px;
}

/* -------------------- */

/* main header action buttons */

.action-items {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

.action-items button {
    width: 6rem;
    height: 2.3rem;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #1992d4;
    font-size: 1rem;
    font-weight: 500;
}

.action-items button:hover {
    background-color: #4CA9E0;
}

.action-items button:active {
    background-color: #0F6BA5;
}
/* -------------------- */

/* --------------------- */

.main {
    grid-column: 2 / -1;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main-left {
    grid-column: 1 / 2;
    gap: 2rem;
    padding: 1rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr repeat(3, 4fr);
}

.main-left h3 {
    grid-column: 1 / -1;
    margin-bottom: 0;
    font-weight: 500;
}

.card {
    display: grid;
    background-color: #FFFFFF;
    grid-template-columns: 0.3fr 10fr;
    grid-template-rows: 2.2fr 0.5fr;
    border-radius: 1rem;
    z-index: 10;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-highlight {
    background-color: #f4c034;
    grid-row: 1 / -1;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.card-text {
    padding: 1.4rem;
}

.card-text h4 {
    margin-bottom: 0.4rem;
    font-weight: 500;
}

.card-text p {
    margin: 0;
    color: #a8a8a8;
}

.card-action {
    width: 2rem;
    height: 2rem;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.card-action img {
    width: 100%;
    height: auto;
}

.card-action-wrapper {
    margin-bottom: 2rem;
    margin-right: 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 1.4rem;
}

.main-right {
    grid-column: 2 / -1;
    padding: 1rem;
}
